<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Hyva\CompatModuleFallback\Model\CompatModuleRegistry">
        <arguments>
            <argument name="compatModules" xsi:type="array">
                <item name="rvvup_map" xsi:type="array">
                    <item name="original_module" xsi:type="string">Rvvup_Payments</item>
                    <item name="compat_module" xsi:type="string">Rvvup_PaymentsHyvaCheckout</item>
                </item>
            </argument>
        </arguments>
    </type>

    <type name="Hyva\Checkout\Model\MethodMetaData">
        <plugin name="rvvup-payment-method-icons"
                type="Rvvup\PaymentsHyvaCheckout\Plugin\Hyva\Checkout\Model\MethodMetaData\RenderMethodIcons"/>
    </type>

    <type name="Hyva\Checkout\Model\MethodMetaData\IconRenderer">
        <plugin name="rvvup-payment-method-icons"
                type="Rvvup\PaymentsHyvaCheckout\Plugin\Hyva\Checkout\Model\MethodMetaData\IconRenderer\RenderExternalIcon"/>
    </type>
    <type name="Hyva\Checkout\Model\CustomCondition\IsGuest">
        <plugin name="afterValidateCheckIfCustomerExists"
                type="Rvvup\PaymentsHyvaCheckout\Plugin\IsGuest"
                sortOrder="1"/>
    </type>
    <type name="Hyva\Checkout\Model\CustomCondition\IsCustomer">
        <plugin name="validateIsCustomer"
                type="Rvvup\PaymentsHyvaCheckout\Plugin\IsCustomer"
                sortOrder="1"/>
    </type>
</config>
